.env
**/.DS_Store
.vscode/

# Output files based on config and execution results
/performance_monitor/balance_logs.csv
/performance_monitor/trade_logs.csv
/opportunity_analysis/arb_bot_config.json

# Hardhat files
/contract_factory/cache
/contract_factory/artifacts
cache/

# TypeChain files
/contract_factory/typechain
/contract_factory/typechain-types

# solidity-coverage files
/contract_factory/coverage
/contract_factory/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/contract_factory/ignition/deployments/chain-31337
node_modules

# Some note-taking documentation
docs/token lists.md
docs/uniswap_token_list.json
